<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>result</key>
	<array>
		<dict>
			<key>mainMenuName</key>
			<string>通用</string>
			<key>detailMenuList</key>
			<array>
				<dict>
					<key>name</key>
					<string>体表面积</string>
					<key>id</key>
					<string>0</string>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>calculateCells</key>
					<array>
						<string>PACalculatorDetailMenuCell</string>
					</array>
				</dict>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>体重指数BMI</string>
					<key>id</key>
					<string>1</string>
					<key>New item</key>
					<string></string>
				</dict>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>基础能耗Harris-Benedir</string>
					<key>id</key>
					<string>2</string>
				</dict>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>小儿基础代谢率</string>
					<key>id</key>
					<string>3</string>
				</dict>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>代谢性酸中毒代偿</string>
					<key>id</key>
					<string>4</string>
				</dict>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>低钠血症是补氯化钠值</string>
					<key>id</key>
					<string>5</string>
				</dict>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>腰臀比</string>
					<key>id</key>
					<string>6</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mainMenuName</key>
			<string>内分泌</string>
			<key>detailMenuList</key>
			<array>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>高血糖的钠校正</string>
					<key>id</key>
					<string>0</string>
				</dict>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>日胰岛素用量</string>
					<key>id</key>
					<string>1</string>
				</dict>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>血浆胰岛素与空腹血糖比值</string>
					<key>id</key>
					<string>2</string>
				</dict>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>有效甲状腺素比值（ETR）</string>
					<key>id</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mainMenuName</key>
			<string>呼吸</string>
			<key>detailMenuList</key>
			<array>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>肺龄</string>
					<key>id</key>
					<string>0</string>
				</dict>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>气胸肺压缩体积</string>
					<key>id</key>
					<string>1</string>
				</dict>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>肺活量</string>
					<key>id</key>
					<string>2</string>
				</dict>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>吸烟指数</string>
					<key>id</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mainMenuName</key>
			<string>妇产</string>
			<key>detailMenuList</key>
			<array>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>预产期</string>
					<key>id</key>
					<string>0</string>
				</dict>
				<dict>
					<key>calculateRules</key>
					<string>成年男性体表面积=0.00607*身高cm+0.0127*体重kg-0.0698</string>
					<key>name</key>
					<string>孕周</string>
					<key>id</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
