<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PADemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PANotificationContent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PANotificationService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D42C86D1F136D8C00061C9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D42C87D1F13754B00061C9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DEF456D1EB1BE6900CA4F75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DEF45811EB1BE6900CA4F75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DEF458C1EB1BE6900CA4F75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
